body{
	background-color: #595547;
	color: #F7F7F7;
	font-family: Calibri;
}
.i{
	font-style: italic;
}
img{
	width: 200px;
}
.validator{
	width: 80px;
	border: 1px solid #E43A4C;
}
h1, h3{
	color: #7AAAC5;
}
a{
	color: #E43A4C;
}
.highlight{
	color: yellow;
}